# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env
package-lock.json
package.json
public/windows11/LargeTile.scale-100.png
public/windows11/LargeTile.scale-125.png
public/windows11/LargeTile.scale-150.png
public/windows11/LargeTile.scale-200.png
public/windows11/LargeTile.scale-400.png
public/windows11/SmallTile.scale-100.png
public/windows11/SmallTile.scale-125.png
public/windows11/SmallTile.scale-150.png
public/windows11/SmallTile.scale-200.png
public/windows11/SmallTile.scale-400.png
public/windows11/SplashScreen.scale-100.png
public/windows11/SplashScreen.scale-125.png
public/windows11/SplashScreen.scale-150.png
public/windows11/SplashScreen.scale-200.png
public/windows11/SplashScreen.scale-400.png
public/windows11/Square44x44Logo.altform-lightunplated_targetsize-16.png
public/windows11/Square44x44Logo.altform-lightunplated_targetsize-20.png
public/windows11/Square44x44Logo.altform-lightunplated_targetsize-24.png
public/windows11/Square44x44Logo.altform-lightunplated_targetsize-30.png
public/windows11/Square44x44Logo.altform-lightunplated_targetsize-32.png
public/windows11/Square44x44Logo.altform-lightunplated_targetsize-36.png
public/windows11/Square44x44Logo.altform-lightunplated_targetsize-40.png
public/windows11/Square44x44Logo.altform-lightunplated_targetsize-44.png
public/windows11/Square44x44Logo.altform-lightunplated_targetsize-48.png
public/windows11/Square44x44Logo.altform-lightunplated_targetsize-60.png
public/windows11/Square44x44Logo.altform-lightunplated_targetsize-64.png
public/windows11/Square44x44Logo.altform-lightunplated_targetsize-72.png
public/windows11/Square44x44Logo.altform-lightunplated_targetsize-80.png
public/windows11/Square44x44Logo.altform-lightunplated_targetsize-96.png
public/windows11/Square44x44Logo.altform-lightunplated_targetsize-256.png
public/windows11/Square44x44Logo.altform-unplated_targetsize-16.png
public/windows11/Square44x44Logo.altform-unplated_targetsize-20.png
public/windows11/Square44x44Logo.altform-unplated_targetsize-24.png
public/windows11/Square44x44Logo.altform-unplated_targetsize-30.png
public/windows11/Square44x44Logo.altform-unplated_targetsize-32.png
public/windows11/Square44x44Logo.altform-unplated_targetsize-36.png
public/windows11/Square44x44Logo.altform-unplated_targetsize-40.png
public/windows11/Square44x44Logo.altform-unplated_targetsize-44.png
public/windows11/Square44x44Logo.altform-unplated_targetsize-48.png
public/windows11/Square44x44Logo.altform-unplated_targetsize-60.png
public/windows11/Square44x44Logo.altform-unplated_targetsize-64.png
public/windows11/Square44x44Logo.altform-unplated_targetsize-72.png
public/windows11/Square44x44Logo.altform-unplated_targetsize-80.png
public/windows11/Square44x44Logo.altform-unplated_targetsize-96.png
public/windows11/Square44x44Logo.altform-unplated_targetsize-256.png
public/windows11/Square44x44Logo.scale-100.png
public/windows11/Square44x44Logo.scale-125.png
public/windows11/Square44x44Logo.scale-150.png
public/windows11/Square44x44Logo.scale-200.png
public/windows11/Square44x44Logo.scale-400.png
public/windows11/Square44x44Logo.targetsize-16.png
public/windows11/Square44x44Logo.targetsize-20.png
public/windows11/Square44x44Logo.targetsize-24.png
public/windows11/Square44x44Logo.targetsize-30.png
public/windows11/Square44x44Logo.targetsize-32.png
public/windows11/Square44x44Logo.targetsize-36.png
public/windows11/Square44x44Logo.targetsize-40.png
public/windows11/Square44x44Logo.targetsize-44.png
public/windows11/Square44x44Logo.targetsize-48.png
public/windows11/Square44x44Logo.targetsize-60.png
public/windows11/Square44x44Logo.targetsize-64.png
public/windows11/Square44x44Logo.targetsize-72.png
public/windows11/Square44x44Logo.targetsize-80.png
public/windows11/Square44x44Logo.targetsize-96.png
public/windows11/Square44x44Logo.targetsize-256.png
public/windows11/Square150x150Logo.scale-100.png
public/windows11/Square150x150Logo.scale-125.png
public/windows11/Square150x150Logo.scale-150.png
public/windows11/Square150x150Logo.scale-200.png
public/windows11/Square150x150Logo.scale-400.png
public/windows11/StoreLogo.scale-100.png
public/windows11/StoreLogo.scale-125.png
public/windows11/StoreLogo.scale-150.png
public/windows11/StoreLogo.scale-200.png
public/windows11/StoreLogo.scale-400.png
public/windows11/Wide310x150Logo.scale-100.png
public/windows11/Wide310x150Logo.scale-125.png
public/windows11/Wide310x150Logo.scale-150.png
public/windows11/Wide310x150Logo.scale-200.png
public/windows11/Wide310x150Logo.scale-400.png
public/ios/16.png
public/ios/20.png
public/ios/29.png
public/ios/32.png
public/ios/40.png
public/ios/50.png
public/ios/57.png
public/ios/58.png
public/ios/60.png
public/ios/64.png
public/ios/72.png
public/ios/76.png
public/ios/80.png
public/ios/87.png
public/ios/100.png
public/ios/114.png
public/ios/120.png
public/ios/128.png
public/ios/144.png
public/ios/152.png
public/ios/167.png
public/ios/180.png
public/ios/192.png
public/ios/256.png
public/ios/512.png
public/ios/1024.png
public/android/android-launchericon-48-48.png
public/android/android-launchericon-72-72.png
public/android/android-launchericon-96-96.png
public/android/android-launchericon-144-144.png
public/android/android-launchericon-192-192.png
public/android/android-launchericon-512-512.png
dev-dist/registerSW.js
